# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# Python & Data
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
*.egg
.eggs/
.tmp/

# Virtual environments
venv/
env/
.venv/
.env/

# IDEs & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# env files
.env
.env*
token.json
credentials.json
*_credentials.json
*_token.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
